{% extends "base.html" %}
{% load static %}

{% block title %} Forgot password || Ascentracore Solutions {% endblock %}
{% comment %} 
{% block description %} Ascentra Solutions account log in with free of cost {% endblock %}

{% block keywords %} Ascentra Solutions, every one can log in to account {% endblock %}
    {% endcomment %}

{% block stylesheet %}{% static 'css/accounts.css' %} {% endblock  %}

{% block content %}
    <img src="{% static 'images/bg_img.webp' %}" alt="logo" loading="lazy" class="bg_img" />

    <div class="form">
        <div class="heading">
            <img src="{% static 'images/ascentra.webp' %}" alt="logo" loading="lazy"
            width="40" height="40"> &ensp; <p><b>Ascentracore</b> Solutions</p>
        </div>


        <div class="total_form">
            <h1>Forgot Password</h1>
            <form action="" method="POST">
                {% csrf_token %}

              
                <br> 
                <span class="error">
                  {% if messages %}
                    {% for message in messages %}
                        {% if forloop.last %}
                            <span class="{{message.tags}}">{{ message }}</span>
                        {% endif %}
                    {% endfor %}
                {% endif %}
                </span>
                <br>
                <label for="email">Email *</label>

                <div class="icon">
                    <svg width="16" height="16" fill="currentColor" class="as as-envelope" viewBox="0 0 16 16">
                        <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1zm13 2.383-4.708 2.825L15 11.105zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741M1 11.105l4.708-2.897L1 5.383z"/>
                    </svg>
                    <input type="email" name="email" id="email" placeholder="Enter your email" autocomplete="email" required>
                </div>    

                <br>
                
                <button class="signin-btn" type="submit">Send password reset link</button>
            </form> 

            
            {% include "continue_with.html" %}
        </div>

        
        <div class="footer">
            <a href="https://www.ascentracoresolutions.com/privacy_policy/">Privacy Policy</a> | <a href="https://www.ascentracoresolutions.com/privacy_policy/">Terms of Service</a> | <a href="https://www.ascentracoresolutions.com/privacy_policy/contact">Contact Us</a>
            <br><p>&copy; 2026 Ascentracore Solutions. || All rights reserved.</p>
        </div>

    </div>
    
<script src="{% static 'js/pass.js' %}"></script>
{% endblock %}
